# Secrets
.env
.Instructions/
.instruction/

# Large model files
*.tflite
*.h5
*.pkl

# Crash Logs
hs_err_pid*.log
replay_pid*.log

# Python
__pycache__/
*.pyc
venv/
.venv/
datasets/

# Flutter
build/
.dart_tool/
android/local.properties
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# Python training data (too large for git)
python_training/data/asl_raw/*.json
python_training/data/isl_raw/*.json
python_training/models/*.h5
python_training/models/*.tflite
